<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/dashboard.css">
    <link rel="stylesheet" href="../static/create_combo.css">
    <link rel="stylesheet" href="../static/view_combo.css">
    <link rel="stylesheet" href="../static/community_combo.css">
</head>
<body>
    
    <aside id="header">
        <section class="mainbar">
            <img src="../static/img/channels4_profile.png" alt="User's Profile IMG">
            <h1>{{ user_nickname }}</h1>
            <div class="configurations mt-4 text-center">
                <a href="#">
                    <i class="bi bi-person-fill"></i>
                </a>
                <a href="#">
                    <i class="bi bi-clipboard2-data"></i>
                </a>
                <a href="#">
                    <i class="bi bi-gear"></i>
                </a>
                <a href="#">
                    <i class="bi bi-translate"></i>
                </a>
            </div>
        </section>

        <nav id="nav" class="nav-menu mt-4">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('create_combo')}}"><i class="bi bi-plus-square" aria-hidden="true"></i> Create Your Combo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('view_combo')}}"><i class="bi bi-journals" aria-hidden="true"></i> View Combo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#"><i class="bi bi-people" aria-hidden="true"></i> Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}"><i class="bi bi-card-text" aria-hidden="true"></i> Main Page</a>
                </li>
              </ul>
        </nav>
    </aside>

    <main id="main">
        <!-- Existing content -->
        <h2>Community Combos</h2>
        <section id="search-bar" >
            <form action="{{ url_for('search_combos') }}" method="get">
                <input type="text" name="query" class="form-control mr-sm-2" placeholder="Search for combos" aria-label="Search">
                <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">Search</button>
            </form>
        </section>
        {% for combo in combos %}
        <div class="content">
            <div class="combo-list">
                <div class="combo">
                    <h3>{{ combo.combo_name }}</h3>
                    <img src="../static/img/{{ combo.fruit }}.png" alt="{{ combo.fruit }}">
                    <img src="../static/img/{{ combo.fighting_style }}.png" alt="{{ combo.fighting_style }}">
                    <img src="../static/img/{{ combo.sword }}.png" alt="{{ combo.sword }}">
                    <img src="../static/img/{{ combo.gun }}.png" alt="{{ combo.gun }}">
                    <form method="get" action="{{ url_for('your_combo', id=combo.id)}}" style="display: inline;">
                        <button class="btn btn-warning" type="submit">View Combo</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </main>
