<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/dashboard.css">
    <link rel="stylesheet" href="../static/create_combo.css">
</head>
<body>
    
    <aside id="header">
        <section class="mainbar">
            <img src="../static/img/channels4_profile.png" alt="User's Profile IMG">
            <h1>{{ user_nickname }}</h1>
            <div class="configurations mt-4 text-center">
                <a href="#">
                    <i class="bi bi-person-fill"></i>
                </a>
                <a href="#">
                    <i class="bi bi-clipboard2-data"></i>
                </a>
                <a href="#">
                    <i class="bi bi-gear"></i>
                </a>
                <a href="#">
                    <i class="bi bi-translate"></i>
                </a>
            </div>
        </section>

        <nav id="nav" class="nav-menu mt-4">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="#"><i class="bi bi-plus-square" aria-hidden="true"></i> Create Your Combo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('view_combo')}}"><i class="bi bi-journals" aria-hidden="true"></i> View Combo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('community_combo')}}"><i class="bi bi-people" aria-hidden="true"></i> Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}"><i class="bi bi-card-text" aria-hidden="true"></i> Main Page</a>
                </li>
              </ul>
        </nav>
    </aside>

    <main id="main">
        <form action="{{ url_for('create_combo') }}" method="POST">
            <div class="content">
                <select class="filter" name="fruit">
                        <option value="Bomb">Select Fruit</option>
                        <option value="Leopard">Leopard</option>
                        <option value="Blizzard">Blizzard</option>
                        <option value="Dough">Dough</option>
                        <option value="Dragon">Dragon</option>
                        <option value="Shadow">Shadow</option>
                        <option value="Portal">Portal</option>
                        <option value="Venom">Venom</option>
                        <option value="Gravity">Gravity</option>
                        <option value="Phoenix">Phoenix</option>
                        <option value="Buddha">Buddha</option>
                        <option value="Paw">Paw</option>
                        <option value="Spider">Spider</option>
                        <option value="Love">Love</option>
                        <option value="Quake">Quake</option>
                        <option value="Magma">Magma</option>
                        <option value="Spirit">Spirit</option>
                        <option value="Dark">Dark</option>
                        <option value="Light">Light</option>
                        <option value="Sand">Sand</option>
                        <option value="Flame">Flame</option>
                        <option value="Ice">Ice</option>
                        <option value="Revive">Revive</option>
                        <option value="Control">Control</option>
                        <option value="Spike">Spike</option>
                        <option value="Spring">Spring</option>
                        <option value="Smoke">Smoke</option>
                        <option value="Falcon">Falcon</option>
                        <option value="Spin">Spin</option>
                        <option value="Kilo">Kilo</option>
                        <option value="Chop">Chop</option>
                        <option value="Diamond">Diamond</option>
                        <option value="Barrier">Barrier</option>
                        <option value="Rubber">Rubber</option>
                        <option value="Bomb">Bomb</option>
                </select>
                <img class="fightingStyleImage" src="../static/img/Bomb.png" title="Blox Fruit">

            </div>
            <div class="content">
                <select class="filter" name="fighting_style">
                            <option value="Combat">Select Fighting Style</option>
                            <option value="Godhuman">Godhuman</option>
                            <option value="Electric Claw">Electric Claw</option>
                            <option value="Dragon Talon">Dragon Talon</option>
                            <option value="Death Step">Death Step</option>
                            <option value="Sharkman Karate">Sharkman Karate</option>
                            <option value="Super Human">Super Human</option>
                            <option value="Water Kung Fu">Water Kung Fu</option>
                            <option value="Electric">Electric</option>
                            <option value="Dragon Breath">Dragon Breath</option>
                            <option value="Dark Step">Dark Step</option>
                            <option value="Combat">Combat</option>
                </select>
                <img class="fightingStyleImage" src="../static/img/Combat.png" title="Fighting Style">
            </div>

            <div class="content">
                <select class="filter" name="sword">
                            <option value="Katana">Select Sword</option>
                            <option value="Triple Dark Blade">Triple Dark Blade</option>
                            <option value="Dark Blade">Dark Blade</option>
                            <option value="Cursed Dual Katana">Cursed Dual Katana</option>
                            <option value="Spikey Trident">Spikey Trident</option>
                            <option value="Pole (2nd Form)">Pole (2nd Form)</option>
                            <option value="Shisui">Shisui</option>
                            <option value="Dark Dagger">Dark Dagger</option>
                            <option value="Yama">Yama</option>
                            <option value="Wando">Wando</option>
                            <option value="Tushita">Tushita</option>
                            <option value="Canvander">Canvander</option>
                            <option value="Twin Hooks">Twin Hooks</option>
                            <option value="Buddy Sword">Buddy Sword</option>
                            <option value="Hallow Scythe">Hallow Scythe</option>
                            <option value="Rengoku">Rengoku</option>
                            <option value="True Triple Katana">True Triple Katana</option>
                            <option value="Koko">Koko</option>
                            <option value="Midnight Blade">Midnight Blade</option>
                            <option value="Jitte">Jitte</option>
                            <option value="Soul Cane">Soul Cane</option>
                            <option value="Saber">Saber</option>
                            <option value="Bisento">Bisento</option>
                            <option value="Trident">Trident</option>
                            <option value="Warden Sword">Warden Sword</option>
                            <option value="Pole (1st Form)">Pole (1st Form)</option>
                            <option value="Iron Mace">Iron Mace</option>
                            <option value="Shark Saw">Shark Saw</option>
                            <option value="Triple Katana">Triple Katana</option>
                            <option value="Cutlass">Cutlass</option>
                            <option value="Katana">Katana</option>
                            <option value="Dual Katana">Dual Katana</option>
                            <option value="Pipe">Pipe</option>
                            <option value="Gravity Cane">Gravity Cane</option>
                            <option value="Longsword">Longsword</option>
                            <option value="Dragon Trident">Dragon Trident</option>
                            <option value="Dual-Headed Blade">Dual-Headed Blade</option>
                </select>
                <img class="fightingStyleImage" src="../static/img/Katana.png" title="Sword">
            </div>
        
            <div class="content">
                <select class="filter" name="gun">
                            <option value="Slingshot">Select Gun</option>
                            <option value="Soul Guitar">Soul Guitar</option>
                            <option value="Acidum Rifle">Acidum Rifle</option>
                            <option value="Kabucha">Kabucha</option>
                            <option value="Serpent Bow">Serpent Bow</option>
                            <option value="Bizarre Rifle">Bizarre Rifle</option>
                            <option value="Bazooka">Bazooka</option>
                            <option value="Refined Musket">Refined Musket</option>
                            <option value="Refined Flintlock">Refined Flintlock</option>
                            <option value="Refined Slingshot">Refined Slingshot</option>
                            <option value="Musket">Musket</option>
                            <option value="Flintlock">Flintlock</option>
                            <option value="Slingshot">Slingshot</option>
                            <option value="Cannon">Cannon</option>
                </select>
                <img class="fightingStyleImage" src="../static/img/Slingshot.png" title="Gun">
            </div>
                
            <div class="description-box">
                <h2>Combo's Information</h2>
                <input type="text" name="combo_name" placeholder="Name your combo..." maxlength="30" required>
                <textarea name="description" placeholder="Type your description..." maxlength="500" required></textarea>
                <button type="submit">Create Combo</button>
            </div>
        </form>
    </main>

    <ul>
        <div class="language">
          <div class="language-selected">
            en-US
          </div>
          <ul>
            <li><a href="#" class="br">Português</a></li>
            <li><a href="#" class="en">English</a></li>
            <li><a href="#" class="fr">Français</a></li>
            <li><a href="#" class="kr">한국어</a></li>
          </ul>
        </div>
        
    </ul>

    <div class="container">
        {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                    <div class="alert alert-{{category}}">{{message}}
                        <a class="close-success" href="{{url_for('create_combo')}}"> X </a>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block body %}

        {% endblock %}
    </div>

    <script>
        // Português
        $(".br").click(function () {
            // Combo Creation
            $('#select-fruit').text('Selecionar Fruta')
            $('#select-fighting-style').text('Selecionar Estilo de Luta')
            $('#select-sword').text('Selecionar Espada')
            $('#select-gun').text('Selecionar Arma')
            $('#combo-information').text('Informação do Combo')
            $('#name-combo').attr('placeholder', 'Dê um nome ao combo...');
            $('#type-description').attr('placeholder', 'Digite sua descrição...');
            $('#create-combo').text('Criar Combo')
            // Nav Section
            $("#nav ul li:nth-child(1) a").html('<i class="bi bi-book" aria-hidden="true"></i> Sobre');
            $("#nav ul li:nth-child(2) a").html('<i class="bi bi-plus-square" aria-hidden="true"></i> Criar Combo');


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>
