<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/profile.css">
</head>
<body>
    <main id="main">
        <div class="profile-container">
            <div class="profile-picture">
                <img src="../static/img/slime.png" alt="User's Profile IMG">
                <div class="edit-icon">
                    <i class="bi bi-pencil"></i>
                </div>
            </div>

            <div class="content">
                <div class="combo-list">
                    <div class="combo">
                        <img id="img1" src="../static/img/Portal.png">
                        <img src="../static/img/Godhuman.png">
                        <img src="../static/img/Cursed Dual Katana.png">
                        <img src="../static/img/Soul Guitar.png">
                    </div>
                </div>
            </div>
            
        </div>

        <form>
            <h2 id="user-nickname" class="edit-title">Nickname</h2>






        
    </main>
</body>
</html>
