* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #021124;
}

#main {
    position: relative;
    top: 1.5rem;
    left: 205px;
    width: 60rem;
    height: 560px;
    background-color: red;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
}
