* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #021124;
}

#main {
    position: relative;
    top: 1.5rem;
    left: 205px;
