* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51, 0.3),rgba(89, 72, 168, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 100px;
    cursor: pointer;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-left: 10px;
    margin-right: 40px;
}

nav a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

nav a:hover {
    color: rgb(135, 185, 241)
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 90px; /* pattern of 160px (with text as Blox Fruits) */
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

.content h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.content a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video{
        width: auto;
        height: 100%;
    }
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

/* jQuery class */
.language-selected.change-br::before {
    background-image: url(../static/img/brazil.png);
}

.language-selected.change-en::before {
    background-image: url(../static/img/us.png);
}

.language-selected.change-fr::before {
    background-image: url(../static/img/france.png);
}

.language-selected.change-kr::before {
    background-image: url(../static/img/korea.png);
}

/* Language */
.language {
    position: relative;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.language-selected {
    display: flex;
    align-items: center;
}

.language-selected::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../static/img/us.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.language ul {
    position: absolute;
    width: 140px;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    padding-top: 10px;
    display: none;
}

.language ul li {
    list-style: none;
}

.language ul li a {
    display: block;
    color: #252525;
    padding-top: 5px 10px;
}

.language ul li a::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}

a.br::before {
    background-image: url(../static/img/brazil.png);
}

a.en::before {
    background-image: url(../static/img/us.png);
}

a.fr::before {
    background-image: url(../static/img/france.png);
}

a.kr::before {
    background-image: url(../static/img/korea.png);
}

.language:hover ul {
    display: block;
}

.nav-links {
    display: flex;
    align-items: center;
}

.language ul {
    background-color: transparent;
    border: none;
}

.language ul li a {
    color: #fff;
}
